<div class="topnav" id="myTopnav">
  <ul class="nav">
    <%= image_tag(asset_path("LOGO_Bookish.png"), size: "360x84") %>
    <a class="active" href="/bestsellers">NYT Bestsellers</a>
    <a href="/favorites">Favorites</a>
    <a href="/dashboard">Home</a>
    <%= link_to "Logout", logout_path %>
    <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
  </ul>
</div>
<div class="col col-6 px2">
  <h2>Mass Market Paperback NYT Bestsellers</h2>
    <div class="row codepen-hovercards">
        <% @paperbacks.each do |review| %>
        <div class="hovercard" id=<%= current_user.id %> >
          <div class="p_tags">
          <p>Rank: <%= review.rank %></p>
          <p>Bestseller Date: <%= review.bestsellers_date %></p>
          <p>Published Date: <%= review.published_date %></p>
          <p>Weeks on the List: <%= review.weeks_on_list %></p>
          <p>ISBN: <%= review.isbns %></p>
          <p>Title: <%= review.title %></p>
          <p>Description: <%= review.description %></p>
          <p>Author: <%= review.author %></p>
          <a href="#" class="hovercard-overlay">
            <span class="button _inverse">Add to Favorites</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="col col-6 px2">
  <h2>Fiction Hardcover NYT Bestsellers</h2>
  <div class="row codepen-hovercards">
      <% @hardcovers.each do |review| %>
        <div class="hovercard" id=<%= current_user.id %> >
          <div class="p_tags">
            <p>Rank: <%= review.rank %></p>
            <p>Bestseller Date: <%= review.bestsellers_date %></p>
            <p>Published Date: <%= review.published_date %></p>
            <p>Weeks on the List: <%= review.weeks_on_list %></p>
            <p>ISBN: <%= review.isbns %></p>
            <p>Title: <%= review.title %></p>
            <p>Description: <%= review.description %></p>
            <p>Author: <%= review.author %></p>
          <a href="#" class="hovercard-overlay">
            <span class="button _inverse">Add to Favorites</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
