<div class="col col-6 px2">
  <h2>Mass Market Paperback NYT Bestsellers</h2>
   <br>
  <% @nyt_reviews.each do |review| %>
    Rank: <%= review.rank %><br>
    Bestseller Date: <%= review.bestsellers_date %><br>
    Published Date: <%= review.published_date %><br>
    Weeks on the List: <%= review.weeks_on_list %><br>
    ISBN: <%= review.isbns %><br>
    Title: <%= review.title %><br>
    Description: <%= review.description %><br>
    Author: <%= review.author %><br>
    <br>
  <% end %>
  </div>
