<ul class="nav">
  <img src="https://cdn.dribbble.com/users/68544/screenshots/2129380/book.png"
  width="120"
  height="96"
  class="mx auto" />
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
  <li><%= link_to "Logout", logout_path %></li>
</ul>
<div class="col col-6 px2">
    <h2>Your Goodreads Queue: </h2>
    <% @book_info.each do |book| %>
      <%= book.isbn %>
      <%= book.title %>
      <%= image_tag book.image_url %>
    <% end %>
    </ul>
</div>
<div class="col col-6 px2">
  <h2>NYT BESTSELLERS</h2>
  <% @nyt_reviews.each do |review| %>
    <%= review.list_name %>
    <%= review.bestsellers_date %>
    <%= review.published_date %>
    <%= review.rank %>
    <%= review.weeks_on_list %>
    <%= review.isbns %>
    <%= review.book_details %>
  <% end  %>
</div>
