<% if current_user %>
<ul class="nav">
  <img src="https://cdn.dribbble.com/users/68544/screenshots/2129380/book.png"
  width="120"
  height="96"
  class="mx auto" />
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
<div class="col col-6 px2">
  <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
    <h2>Your Goodreads Queue: </h2>
    <% @book_info.each do |book| %>
    <ul class="books">
      Book ISBN: <%= book.isbn %> <br>
      Title: <%= book.title %> <br>
      <%= image_tag book.image_url %><br>
      <% end %>
    </ul>
      <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
      <% end %>
</div>
<div class="col col-6 px2">
  <h2>NYT BESTSELLERS</h2>
  <% response = Faraday.get("http://api.nytimes.com/svc/books/v2/lists.json?api-key=#{ENV["NYT_KEY"]}&list=hardcover-fiction&weeks-on-list=2") %>
  <%= JSON.parse(response.body, symbolize_headers: true) %>
</div>
