<% if current_user %>
<div class="topnav" id="myTopnav">
  <ul class="nav">
    <%= image_tag(asset_path("LOGO_Bookish.png"), size: "360x84") %>
    <li><a href="root#home" class="active">Home</a></li>
    <li><a href="https://www.nytimes.com/books/best-sellers/">NYT List</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
    <li><%= link_to "Logout", logout_path %></li>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </ul>
</div>
  <div class="col col-6 px2">
    <ul>
      <h2>Your Goodreads Queue</h2>
        <div class="wrapper">
            <% @book_info.each do |book| %>
            <div class="hover panel">
                <div class="front">
                <%= image_tag book.image_url %>
            </div>
              <div class="back">
                <p><%= book.title %></p>
                <p><%= link_to "book link", book.link %> </p>
              </div>
            </div>
            <% end %>
        </div>
      </ul>
    </div>

  <div class="col col-6 px2">
    <h2>Map to Denver Bookstores</h2>
    <iframe width="700"
      height="500" frameborder="0" style="border:0"
      src= "<%= "https://www.google.com/maps/embed/v1/search?key=#{ENV["GOOGLE_MAP_KEY"]}&q=book+stores+in+Denver" %>" allowfullscreen>
    </iframe>
    <h2>Mass Market Paperback NYT Bestsellers</h2>
     <br>
    <% @nyt_reviews.each do |review| %>
      Rank: <%= review.rank %><br>
      Bestseller Date: <%= review.bestsellers_date %><br>
      Published Date: <%= review.published_date %><br>
      Weeks on the List: <%= review.weeks_on_list %><br>
      ISBN: <%= review.isbns %><br>
      Title: <%= review.title %><br>
      Description: <%= review.description %><br>
      Author: <%= review.author %><br>
      <br>
    <% end %>
  </div>
<% else %>
 <%= "WORDS" %>
<% end %>
