<ul class="nav">
  <img src="https://cdn.dribbble.com/users/68544/screenshots/2129380/book.png"
  width="120"
  height="96"
  class="mx auto" />
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
  <li><%= link_to "Logout", logout_path %></li>
</ul>
<div class="col col-6 px2">
    <h2>Your Goodreads Queue: </h2>
    <% @book_info.each do |book| %>
      <%= book.isbn %><br>
      <%= book.title %><br>
      <%= image_tag book.image_url %><br>
    <% end %>
    </ul>
</div>
<div class="col col-6 px2">
  <h2>NYT BESTSELLERS</h2>
  <% @nyt_reviews.each do |review| %>
    List Name: <%= review.list_name %><br>
    Bestseller Date: <%= review.bestsellers_date %><br>
    Published Date: <%= review.published_date %><br>
    Rank: <%= review.rank %><br>
    Weeks on the List: <%= review.weeks_on_list %><br>
    ISBN: <%= review.isbns %><br>
    Book Deets: <%= review.book_details %><br>
  <% end  %>
</div>
