<% if current_user %>
    <div class="topnav" id="myTopnav">
      <ul class="nav">
        <%= image_tag(asset_path("LOGO_Bookish.png"), size: "360x84") %>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="/bestsellers">NYT Bestsellers List</a>
        <%= link_to "Logout", logout_path %>
        <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
      </ul>
    </div>
    <div class="col col-6 px2">
      <ul>
        <h2>Your Goodreads Queue</h2>
        <div class="wrapper">
          <% @book_info.each do |book| %>
          <div class="hover panel">
            <div class="front">
              <p><%= image_tag book.image_url %></p>
            </div>
            <div class="back">
              <p><%= book.title %></p>
              <p><%= link_to "book link", book.link %> </p>
            </div>
          </div>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="col col-6 px2">
      <h2>Map to Bookstores</h2>
      <div id="map"></div>
      <script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAP_KEY"]}&libraries=places&callback=initMap"%> async defer></script>
        <script type="text/javascript">
        var map;
        var infowindow;
        var markers = [];

        function initMap() {
          var location = {
            lat: 39954527,
            lng: -105133260
          };
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              location = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              map.setCenter(location);
              for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
              }
              markers = [];
              setPlaces(location);
            });
          } else {
            // Browser doesn't support Geolocation
            //since you set coords above this section it will default to that
          }
          map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 9
          });
        		  setPlaces(location);
        }

        function callback(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }
          }
        }

        function setPlaces(location) {
          infowindow = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);
          service.nearbySearch({
            location: location,
            radius: 2000,
            type: ['book_store']
          }, callback);
        }

        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });
          markers.push(marker);

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }
        </script>
  </div>
<% else %>
 <%= "WORDS" %>
<% end %>
