<div class="topnav" id="myTopnav">
  <ul class="nav">
    <%= image_tag(asset_path("LOGO_Bookish.png"), size: "360x84") %>
    <a href="/favorites">Favorites</a>
    <a href="/dashboard">Home</a>
    <%= link_to "Logout", logout_path %>
    <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
  </ul>
</div>
<div class="fave_container">
<% if current_user %>
  <div class="faves_wrapper">
    <% @favorites.each do |faves| %>
      <div class="fave_box">
        <%= faves.title %><br>
        <%= faves.description %><br>
        <%= faves.author %><br>
        <%= faves.isbns %><br>
        <div class="buttons button4"><%= link_to "Delete Favorite", "/favorites/#{faves.id}", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2> save favorite books here from NYT bestseller page </h2>
<% end %>
</div>
