<div class="col col-6 px2">
  <% @book_detail.each do |detail| %>
  <p><%= detail.isbn %></p>
  <p><%= detail.title %></p>
  <p><%= image_tag detail.image_url %></p>
  <p><%= detail.num_pages %></p>
  <p><%= detail.format %></p>
  <p><%= detail.publisher %></p>
  <p><%= detail.publication_year %></p>
  <p><%= detail.average_rating %></p>
  <p><%= detail.ratings_count %></p>
  <p><%= detail.description %></p>
  <p><%= detail.authors %></p>
  <% end %>
</div
